<?xml version="1.0"?>
<config>
    <modules>
        <Rrr_FreeShipping>
            <version>0.0.1</version>
        </Rrr_FreeShipping>
    </modules>
    <global>
        <models>
            <newshipping>
                <class>Rrr_FreeShipping_Model</class>
            </newshipping>
        </models>
        <resources>
            <newshipping_setup>
                <setup>
                    <module>Rrr_Freeshipping</module>
                </setup>
            </newshipping_setup>
        </resources>
        <global>
            <blocks>
                <checkout>
                    <rewrite>
                        <onepage_shipping_method_available>
                            Rrr_Freeshipping_Block_Onepage_Shipping_Method_Available
                        </onepage_shipping_method_available>
                    </rewrite>
                </checkout>
            </blocks>
        </global>
    </global>
    <default>
        <carriers>
            <newshipping>
                <active>0</active>
                <model>freeshipping/carrier_newshipping</model>
                <title>freeshipping</title>
                <name>Free</name>
            </newshipping>
        </carriers>
    </default>
</config>